.wrapper {
  padding: 0 16px;
  background-color: rgb(255, 255, 255);
}

.main-admin {
  background-color: rgb(251, 251, 251);
}

@media (min-width: 992px) {
  .main-admin {
    margin-left: 250px;
  }
}

@media (min-width: 1536px) {
  .wrapper {
    width: 1240px;
    margin: 0 auto;
  }
}
