@import '~antd/dist/antd.less';

.ant-avatar-circle.ant-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anticon.anticon-close-circle {
  display: inline-flex;
}

 .ant-pagination-next button.ant-pagination-item-link,
 .ant-pagination-prev button.ant-pagination-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
