@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";

@primary-color: #ea2251;
@primary-color-hover: #ea225180;
@primary-color-active: #ccc;
.ant-btn-primary:hover {
  color: #000000d9 !important;
  background-color: transparent !important;
}

.ant-avatar-circle.ant-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anticon.anticon-close-circle {
  display: inline-flex;
}

.ant-pagination-next button.ant-pagination-item-link,
.ant-pagination-prev button.ant-pagination-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn-dangerous {
  color: #faad14;
  border-color: #faad14;
}

.ant-btn-dangerous:hover {
  background-color: #faad14;
  color: #fff;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: none;
}
