@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: rgb(251, 251, 251);
  }
  .common-button {
    border-color: #ea2251;
    color: #000;
  }

  .common-button:hover {
    background-color: #ea2251;
    color: #fff;
    border-color: #ea2251;
  }
}
